services:
  ip_syncer:
    image: kamuri/ip-syncer:0.0.2
    restart: unless-stopped
    env_file: .env
    container_name: syncer
    deploy:
      resources:
        limits:
          cpus: "0.01"
          memory: 10M

  haproxy:
    container_name: haproxy
    build:
      context: .
      args:
        IP_ADDR: ${IP_ADDR}
    ports:
      - 80:80
      - 81:81
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.02"
          memory: 30M

  dashy:
    container_name: dashy
    image: lissy93/dashy
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - $DASHY_CONFIG:/app/user-data
    ports:
      - "7575:8080"
    healthcheck:
      test: ["CMD", "node", "/app/services/healthcheck"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

  jellyfin:
    container_name: jellyfin
    image: ghcr.io/jellyfin/jellyfin:10.11.3
    restart: unless-stopped
    ports:
      - "8096:8096"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=$TZ_INFO
    volumes:
      - $JELLYFIN_CONFIG:/config
      - $JELLYFIN_HOME:/data
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - "108"
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2G

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:2.7.3
    container_name: jellyseerr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=$TZ_INFO
    volumes:
      - $JELLYSEERR_CONFIG:/app/config
    ports:
      - 5055:5055
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 600M

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:release-4.0.16.2944
    restart: unless-stopped
    ports:
      - 8989:8989
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=$TZ_INFO
    volumes:
      - $SONARR_HOME:/data
      - $SONARR_CONFIG:/config
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 300M

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:release-6.0.4.10291
    restart: unless-stopped
    ports:
      - "7878:7878"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=$TZ_INFO
    volumes:
      - $RADARR_CONFIG:/config
      - $RADARR_HOME:/data
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 300M

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:release-2.3.0.5236
    restart: unless-stopped
    ports:
      - "9696:9696"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=$TZ_INFO
    volumes:
      - $PROWLARR_CONFIG:/config
    deploy:
      resources:
        limits:
          cpus: 0.6
          memory: 500M

  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:release-1.5.3
    restart: unless-stopped
    ports:
      - "6767:6767"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=$TZ_INFO
      - WEBUI_PORTS=6767/tcp,6767/udp
    volumes:
      - $BAZARR_CONFIG:/config
      - $BAZARR_HOME:/data
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 300M

  prometheus:
    container_name: prometheus
    image: quay.io/prometheus/prometheus:v3.3.0
    restart: unless-stopped
    environment:
      - TZ=America/Fortaleza
    volumes:
      - ./prometheus:/etc/prometheus
    ports:
      - 9097:9090

  node_exporter:
    container_name: node_exporter
    image: quay.io/prometheus/node-exporter:latest
    command:
      - "--path.rootfs=/host"
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"

  pluto_api:
    container_name: pluto-api
    image: quay.io/kamuridesu/pluto-playlist-api
    restart: unless-stopped
    environment:
      - TZ_INFO=$TZ_INFO
      - TOTAL_DELAY_SECONDS=86400
    ports:
      - 9123:3000
    deploy:
      resources:
        limits:
          cpus: 0.3
          memory: 200M
